.cabecalho{
    background-image: linear-gradient(#aadffc 45%,rgb(255, 255, 255) );
    
}

.navbar {
    justify-content: space-around;
}

.paragrafo{
    justify-content: center;
    text-align: center;
    width: 900px;
    padding-top: 80px;
    font-size: 18px;
}

#patas{
    padding-left: 80px;
}

#icon_home{
    padding-right: 100px;
    padding-top: 1px;
}
#imagens_port{
    padding-top: 2px;
    border: #aadffc solid 1px;
}

/*Login*/

.btn-primary{
    --bs-btn-bg: #58bae4;
    --bs-btn-border-color: #58bae4;
}

.login{
    padding-left: 250px;
}

/* perfil */

body {
    box-sizing: border-box;
    background-color: white;
    flex: 1;
}

.cabecalho__menu {
    display: flex;
    align-content: flex-end;
    gap: 80px;
}

.cabecalho__menu__link {
    font-size: 1.5rem;
    text-decoration: none;
}

 /* .apresentacao {
      width: 1000; 
    padding: 5% 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px; 

} */
.painel__principal__perfil{
    padding-left: 250px;
    display: flex;
    justify-content: center;
    gap: 250px;
}

.foto__perfil{
    margin: 0%;
    padding: 5% 17%;
    display: flex;
    justify-content: space-around;
    gap: 82px;
}

.emoji__center{
    background-color: #aadffc;
    border-radius: 70px;
    width: 110px;
    height: 110px; 
    display: flex;
    align-items: center;
    padding: 0px 25px;
    
}

.nomes{
    display: flex;
    padding-left: 170px ;
    gap: 170px;

}

/* Banho e Tosa*/

.fundoBanhoTosa{
   padding-top: 10px;
   background-color: #aadffc;
   padding-left: 110px;

}

#imgLocais{
    width: 250px;
}
